


.header {
  height: 56px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb( 230, 230, 230);

  z-index: 100;
}

.left-section {

  display: flex;
  align-items:center;
}

.hamburger-menu {
  height: 24px;
  margin-left:24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  cursor: pointer;
}

.middle-section {
  margin-left: 60px;
  margin-right: 29px;
  max-width: 500px;

  flex: 1;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36px;
  font-size: 16px;
  padding-left: 12px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  font-weight: 350;
  color: rgb(150, 150, 150);
  min-width: none;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(247, 247, 247);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(215, 215, 215);
  border-radius: 2px;
  margin-left: -2px;
  margin-right: 8px;

  position: relative;
  cursor: pointer;
}


.tooltip { /*tooltip-general*/
  position: absolute;
  background-color: rgba(77, 77, 77, 0.9);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-family: Roboto, Arial;
  font-size: 12px;
  width: max-content;
  opacity: 0;
  pointer-events: none;

}

.search-button .tooltip {
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
}

.search-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.3s;
}

.search-icon {
  height: 24px;
  margin-top: 3px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(246, 246, 246);

  position: relative;

  cursor: pointer;
}

.voice-search-button .tooltip {
  bottom: -50px;
  right: -50px;
}

.voice-search-button:hover .tooltip {
  opacity: 1;
  transition: opacity 0.3s;
}

.voice-search-icon {
  height: 24px;
  margin-top: 2px;
}

.right-section {
  width: 180px;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-right: 24px;

}

.upload,.youtube-apps,.notifications-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section .tooltip {
  bottom: -53px;
}

.youtube-apps:hover .tooltip,
.upload:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
  transition: 0.3s;
}


.upload-icon {
  height: 24px;
}

.youtube-apps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-count {
  position: absolute;
  top: -3px;
  right: -7px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}






