@media (max-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 72px;
    z-index: 200;

    background-color: white;

    padding-top: 5px;

  }

  .sidebar-link {
    background-color: white;
    height: 74px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 234, 234);
    cursor: pointer;
    transition: 0.3s;
  }

  .sidebar-link img {
    height: 24px;
    margin-bottom: 6px;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 10px;
  }
}

@media (min-width: 1200.1px) {
  .sidebar {
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 230px;
    z-index: 200;

    background-color: white;

    padding-top: 15px;

  }

  .sidebar-link {
    background-color: white;
    height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-link:hover {
    background-color: rgb(235, 234, 234);
    cursor: pointer;
    transition: 0.3s;
  }

  .sidebar-link img {
    height: 24px;
    padding: 0 24px;
  }

  .sidebar-link div {
    font-family: Roboto, Arial;
    font-size: 14px;
    flex: 1;

  }
}
