p{
  margin: 0;
}

.video-preview {
  width: 100%;  /* 防止内容撑开，这个是grid的直属下级 不要锁定宽度是多少px而是这样填充*/
  min-width: 0;
}


.video-title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 550;
  margin-bottom: 10px;
  line-height: 20px;
}

.video-author,.video-stats{
  font-size: 12px;
  padding-bottom: 1px;
  color: rgba(106, 106, 106, 1);
}

.video-author{
  margin-bottom: 3px;
}



.channel-picture{
  display: inline-block;
  width: 36px;
  vertical-align: top;
  
}

.video-info{
  display: inline-block;
  width: 100%;
  
}
.profile-picture{
  width: 100%;
  border-radius: 100%;
}

.thumbnail-row{
  margin-bottom: 12px;

  position: relative;
}

.thumbnail{
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 1px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}


.video-info-grid{
  display: grid;
  grid-template-columns:  48px 1fr;
}

.video-grid{
  font-family: Roboto, Arial;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  min-width: 0;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 1199px){
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }




}


